name: Create Spring Reactive Service

on:
  workflow_dispatch:
    inputs:
      service_name:
        description: "Nombre del servicio (kebab-case). Ej: customer-api"
        required: true
      visibility:
        description: "private o public"
        required: true
        default: "private"

jobs:
  scaffold:
    runs-on: ubuntu-latest

    steps:
      - name: Create repo from template and clone
        env:
          GH_TOKEN: ${{ secrets.ORG_ADMIN_TOKEN }}
        run: |
          SERVICE="${{ inputs.service_name }}"
          VIS="${{ inputs.visibility }}"

          gh repo create platform-engi/${SERVICE} \
            --template platform-engi/tpl-spring-reactive-openapi \
            --${VIS} \
            --confirm \
            --clone

      - name: Verify repo content
        run: |
          SERVICE="${{ inputs.service_name }}"
          cd "${SERVICE}"
          echo "Listing files:"
          ls -la
          echo "Git status:"
          git status
          echo "Commits:"
          git log --oneline -n 5 || true

          # Si está vacío, fallamos con mensaje claro
          FILECOUNT=$(find . -maxdepth 2 -type f | wc -l | tr -d ' ')
          if [ "$FILECOUNT" -le 3 ]; then
            echo "ERROR: Repo seems empty or template did not copy files. Check template repo has commits and files."
            exit 1
          fi

      - name: Replace placeholders
        run: |
          SERVICE="${{ inputs.service_name }}"
          cd "${SERVICE}"

          # No fallar si no hay placeholders
          grep -rl "__SERVICE_NAME__" . | xargs -r sed -i "s/__SERVICE_NAME__/${SERVICE}/g"

      - name: Commit & push bootstrap
        run: |
          SERVICE="${{ inputs.service_name }}"
          cd "${SERVICE}"

          git config user.name "platform-bot"
          git config user.email "platform-bot@users.noreply.github.com"

          git add .
          git diff --cached --quiet && echo "No changes to commit" || git commit -m "chore: bootstrap ${SERVICE}"
          git push
